[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/pendle-examples-public"]
	path = lib/pendle-examples-public
	url = https://github.com/pendle-finance/pendle-examples-public
